@charset "UTF-8";
		
* {
  margin:0; padding:0;
}

body {
	background-color: #fafafa;
	font-family: 'Segoe Script';
	background-image: url("../images/ドラゴンフルーツ1 (1).png"), url("../images/木目4.jpg");
	background-color: transparent;
	
}

p{
	margin: 5px;
}

.box-title{
	text-align: center;
	font-size: 60px;
	font-weight: bold;
}

.inputbox {
	border: solid 1px #d4d4d4;
	padding: 10px;
	background-color: white;
	border-radius: 0.5em;
	width: 40em;
	margin-bottom: 2%;
}

.create{
	text-align: center;
}

.outer{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 90vh;
	font-size: 18px;
	margin-top: 1%;
}